body {
    background-color: #feeed5;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.content {
    margin: 0 auto;
    padding: 11px 15px;
    max-width: 747px;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #676565;
}

.course-title {
    text-transform: uppercase;
    font-size: 1.7em;
    font-weight: 500;
}

.course-subtitles {
    margin: 14px 0 8px;
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.content-paragraph {
    margin: 4px 0;
    font-size: 0.96em;
    text-indent: 1em;
    line-height: 1.4;
    text-align: justify;
}

.text-blue {
    color: #378db2;
    font-weight: 700;
}

.price-without-discount {
    position: relative;
    display: inline-block;
    text-decoration: line-through;
}
