.table-container {
    margin: 0 auto;
    max-width: 860px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.persons-table {
    width: 100%;
    border-collapse: collapse;
    vertical-align: middle;
}

.persons-table td {
    padding: 11px;
}

.persons-table th {
    padding: 11px 10px 7px;
}

.persons-table th, 
.persons-table td {
    border: 1px solid #d1d1d1;
    text-align: start;
    font-size: 20px;
    font-weight: 500;
}

.persons-table thead {
    background-color: #3598db;
    color: #fff;
}

.persons-table tbody tr:nth-child(odd) {
    background-color: #eee;
}
