.incorrect-input {
    border-color: rgba(255, 0, 0, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 0, 0, 0.6);
    outline: 0 none;
}

.narrow-column {
    width: 0;
}

.form-check-input {
    cursor: pointer;
}

.table-button {
    width: 2em;
    height: 2em;
    cursor: pointer;
    background-color: #fff;
}

.edit-button {
    mask: url("../node_modules/feather-icons/dist/icons/edit.svg") no-repeat center;
    -webkit-mask: url("../node_modules/feather-icons/dist/icons/edit.svg") no-repeat center;
}

.save-button {
    mask: url("../node_modules/feather-icons/dist/icons/save.svg") no-repeat center;
    -webkit-mask: url("../node_modules/feather-icons/dist/icons/save.svg") no-repeat center;
}

.remove-button {
    mask: url("../node_modules/feather-icons/dist/icons/trash-2.svg") no-repeat center;
    -webkit-mask: url("../node_modules/feather-icons/dist/icons/trash-2.svg") no-repeat center;
}
