body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #676565;
}

.main-container {
    background-color: #feeed5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.form-container {
    width: 100%;
}

.form-title-container {
    background-color: #fff;
    padding-top: 14px;
    width: 100%;
    font-size: 18px;
}

.form-title {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 720px;
    width: 100%;
}

.form-body {
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 720px;
    width: 100%;
}

.label-text {
    display: inline-block;
    margin: 10px 0 5px;
    font-weight: 700;
}

.form-input {
    width: 100%;
}

.form-input {
    border: 0;
    padding: 6px 12px;
}

.form-input::placeholder {
    color: #98999b;
    font-weight: 100;
}

.user-comment-input {
    resize: vertical;
    height: 112px;
}

.form-note {
    margin: 12px 0 8px;
    font-weight: 100;
    color: #737373;;
}

.submit-button {
    padding: 6px 12px;
    margin: 0 0 11px auto;
    border: 0;
    background: #378db2;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

.submit-button:hover {
    background: #32728d;
}