:root {
    --dark-purple-color: #3A0CA3;
    --dark-blue-color: #0D1B2A;
    --form-elements-shadow: 0px 0px 13px var(--dark-purple-color);
}

body {
    background-color: var(--dark-blue-color);
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    background: #2F2F2F;
    width: 50%;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    border-left: 2px solid var(--dark-purple-color);
    border-right: 2px solid var(--dark-purple-color);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.todo-form {
    width: 100%;
    display: flex;
    gap: 15px;
}

.todo-input {
    width: 60%;
    height: 40px;
    resize: horizontal;
    font-size: 20px;
    border: 3px solid var(--dark-purple-color);
    border-radius: 10px;
    padding: 5px;
}

.todo-input:hover {
    box-shadow: var(--form-elements-shadow);
}

.todo-input:focus {
    outline: none;
    box-shadow: var(--form-elements-shadow);
}

.dark-blue-button {
    background: var(--dark-blue-color);
    color: #fff;
    height: 40px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.dark-blue-button:hover {
    box-shadow: var(--form-elements-shadow);
}

.dark-blue-button:active {
    background: #1b3857;
}

hr {
    width: 100%;
    border-radius: 50%;
    border-color: var(--dark-purple-color);
}

.todo-list-content {
    color: #fff;
    width: 100%;
}

.todo-list {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
}

.todo-item-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-item-buttons-container {
    background: none;
    border: none;
    display: flex;
    gap: 5px;
}